<div class="container d-flex justify-content-around mt-3">
    <div class="col-sm-5">
        <div class="text-center mb-4">
            <h1 class="h4 mb-3 font-weight-normal">{{ header }}</h1>
        </div>
        <div class="input-group mb-3" [ngbTooltip]="'CABA y conurbano bonaerense'">
            <div class="input-group-text">
                <input type="checkbox" [(ngModel)]="this.amba" (click)="filtrarImpuestos()">
            </div>
            <input type="text" class="form-control" placeholder="Soy de AMBA" disabled>
        </div>

        <div class="form-label-group">
            <input type="number" class="form-control" placeholder="Ingrese el monto ({{this.currency}}$)" [(ngModel)]="this.conversor.valor"
                required autofocus>
            <label>Ingrese el monto ({{this.currency}}$)</label>
        </div>
          
        <div class="form-label-group" [ngbTooltip]="this.tooltip">
            <input class="form-control" placeholder="Monto Final" [value]="calcularMonto() | number: '1.2-2'" disabled>
            <label>Monto final ({{this.currency}}$) <i class="material-icons">info</i></label>
        </div>
        
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="Detalle impositivo">
                <ng-template ngbPanelContent>
                    <div *ngFor="let impuesto of this.impuestos" class="form-label-group">
                        <input class="form-control" [placeholder]="impuesto.nombre" [value]="calcularImpuesto(impuesto) | number: '1.2-2'" disabled>
                        <label>{{ impuesto.nombre }} ({{ impuesto.valor * 100 }}%)</label>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>